/* Scss Document */

/* Colors */

$color-1: #333333; /* Grey eg text */
$color-2: #f5a843; /* Orange eg buttons */
$color-3: white;
$color-4: black;
$color-5: #838383; /* Light Grey eg nav */
$color-6: #8dc858; /* Green eg button */

/* END Colors */


/* Global */

$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em
}

html, html a {
    -webkit-font-smoothing: antialiased !important;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.004);
	font-size:100%;
}

body {

}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	padding-left:0;
	padding-right:0;
}

.wrapper {
	width:100%;
}

.container {
	width:970px !important;
}

.div-table {
	display:table;
	width:100%;
}
.div-cell {
	display:table-cell;
	text-align:center;
	vertical-align:middle;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin text-shadow($blur, $color) {
  text-shadow: 0 -1px $blur $color;
}

/* Micro ClearFix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/* For IE 6/7 only */
.cf {
    *zoom: 1;
}
/* END CF */


/* END Global */


/* Fonts */
$font-stack: 'Open Sans', Helvetica, Arial, sans-serif;
$font-stack-serif: Helvetica, Arial, sans-serif;


h1 {
	font-family:$font-stack;
	font-size: em(35);
	font-weight:300;
	letter-spacing:em(-0.3);
	color:$color-3;
}

h2 {
	font-family:$font-stack;
	font-size: em(28);
	font-weight:600;
	color:$color-1;
}

h3 {
	font-family:$font-stack;
	font-size:em(18);
	font-weight:300;
	color:$color-5;
}

h4 {
	font-family:$font-stack;
	font-size:em(23);
	color:$color-1;
}

p {
	font-family:$font-stack;
	font-size:em(16);
	color:$color-1;	
}

/* END Fonts */

/* Buttons */

.gv-btn {
	height:48px;
	@include border-radius(0);
	font-family:$font-stack;
	font-size:em(20);
	font-weight:600;
	color:$color-3;
	
	a {
		text-decoration:none;
	}
}

.gv-btn-quote {
	background-color:$color-2;
	border-bottom:2px solid darken($color-2, 18%);
	
	a:hover {
	}
}
	
	
	
/* END Buttons */


/* ========= Header ========== */

header {
	hr	{
		border:none;
		border-bottom:12px solid #dddddd;
		width:100%;
		margin:0px;
	}
	
	.gv-logo-nav {
		margin-top:-5px;
	}
	
	img {
		float:left;
		margin-right:55px;
	}
	
	nav {
		
		margin-top:20px;
		
		ul {
			list-style:none;
			margin:0;
			padding:0;
			
			li {
				display:inline-block;
				margin-right:40px;
				padding:0;
			}
			
			li::last-child {
				margin-right:0;
			}
		}
	}
	
	button {
		margin-top:12px;
	}
}
	
.contact-number {
	background-color: $color-1;
	height:em(36);
	margin-top:-12px;
	padding:em(8) 0;
	box-sizing:border-box;
	text-align:center;
	
	h3 {
		display:inline-block;
		color:$color-3;
		font-weight:600;
		margin:0;
	}
	
	.fa {
		color:$color-3;
		font-size:em(20);
		margin-right:5px;
	}
}

/* ========= END Header ========== */



/* ========= Footer ========== */

/* ========= END Footer ========== */