/* Scss Document */

/* Colors */

$color-1: #333333; /* Grey eg text */
$color-2: #f5a843; /* Orange eg buttons */
$color-3: white;
$color-4: black;
$color-5: #838383; /* Light Grey eg nav */
$color-6: #8dc858; /* Green eg button */

/* END Colors */


/* Global */

$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em
}

html, html a {
    -webkit-font-smoothing: antialiased !important;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.004);
	font-size:100%;
}

body {

}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	padding-left:0px;
	padding-right:0px;
}

.wrapper {
	width:100%;
}

.container {
	width:970px !important;
}

.div-table {
	display:table;
	width:100%;
}
.div-cell {
	display:table-cell;
	vertical-align:middle;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin text-shadow($blur, $color) {
  text-shadow: 0 -1px $blur $color;
}

/* Micro ClearFix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/* For IE 6/7 only */
.cf {
    *zoom: 1;
}
/* END CF */


/* END Global */


/* Fonts */
$font-stack: 'Open Sans', Helvetica, Arial, sans-serif;
$font-stack-serif: Helvetica, Arial, sans-serif;


h1 {
	font-family:$font-stack;
	font-size: em(40);
	font-weight:300;
	letter-spacing:em(-0.3);
	color:$color-3;
}

h2 {
	font-family:$font-stack;
	font-size: em(35);
	font-weight:400;
	color:$color-1;
}

h3 {
	font-family:$font-stack;
	font-size:em(18);
	font-weight:400;
	color:$color-5;
}

h4 {
	font-family:$font-stack;
	font-size:em(23);
	color:$color-1;
}

p {
	font-family:$font-stack;
	font-size:em(16);
	color:$color-1;	
}

/* END Fonts */

/* Buttons */

a.gv-btn {
	height:48px;
	@include border-radius(0);
	font-family:$font-stack;
	font-size:em(20);
	font-weight:600;
	color:$color-3;
	padding-top: 10px;
	text-decoration:none;
}

a.gv-btn-quote {
	color:$color-3;
	@include text-shadow(0, darken($color-2, 20%));
	background-color:$color-2;
	border-bottom:2px solid darken($color-2, 18%);
	-webkit-transition: background linear 150ms;
}

a:hover.gv-btn-quote {
	color:$color-3;
	@include text-shadow(0, darken($color-2, 25%));
	background-color:darken($color-2, 10%);
	border-bottom:2px solid darken($color-2, 25%);
}

a.gv-btn-more {
	color:$color-3;
	@include text-shadow(0, darken($color-6, 20%));
	background-color:$color-6;
	border-bottom:2px solid darken($color-6, 18%);
	-webkit-transition: background linear 150ms;
}

a:hover.gv-btn-more {
	color:$color-3;
	@include text-shadow(0, darken($color-6, 25%));
	background-color:darken($color-6, 10%);
	border-bottom:2px solid darken($color-6, 25%);
}
	
	
/* END Buttons */


/* ========= Header ========== */

header {
	hr	{
		border:none;
		border-bottom:12px solid #dddddd;
		width:100%;
		margin:0px;
	}
	
	.gv-logo-nav {
		margin-top:-5px;
	}
	
	img {
		float:left;
	}
	
	nav {
		
		float:left;
		margin-left:32px;
		margin-top:33px;
		
		ul {
			list-style:none;
			margin:0;
			padding:0;
			
			li {
				display:inline-block;
				margin-right:15px;
				
				a {
					display:block;
					padding:em(5) em(15);
					background-color: $color-3;
					-webkit-transition: background linear 350ms;
					
					h3 {
						margin:0;
						-webkit-transition: color linear 150ms;
					}
					
				}
				
				a:hover {
					display:block;
					box-sizing:border-box;
					background-color: $color-2;
					text-decoration:none;
					
					h3 {
						color:$color-3;
					}
				}
			}
			
			li::last-child {
				margin-right:0;
			}
		}
		
	}
	
	a.gv-btn {
		margin-top:12px;
	}
}
	
.contact-number {
	background-color: $color-1;
	height:em(36);
	margin-top:-12px;
	padding:em(8) 0;
	box-sizing:border-box;
	text-align:center;
	
	h3 {
		display:inline-block;
		color:$color-3;
		font-weight:600;
		margin:0;
	}
	
	.fa {
		color:$color-3;
		font-size:em(20);
		margin-right:5px;
	}
}

/* ========= END Header ========== */


/* ========= Hero / Carousel ========== */

.carousel {
	margin-top:15px;
	height:400px;
	overflow:hidden;
	border-bottom:5px solid $color-2;
}

a.gv-carousel-control {
	background:none;
	font-size: 40px;
	color: #fff;
	text-align: center;
	@include text-shadow(0, ($color-4, 20%));
	
	i {
		opacity: .50;
		filter: alpha(opacity=50);
		position: absolute;
		top: 50%;
		z-index: 5;
		display: inline-block;
	}
}

a.gv-carousel-control.left, a.gv-carousel-control.right {
	background:none;
}

.hero-block {
	height:400px;
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	
	border-bottom:2px solid $color-3;
}

.hero-unit {
	margin-left:auto;
	margin-right:auto;
	height:400px;
	
	h1 {
		display:table;
		width:auto;
		padding:em(3) em(8);
		background-color:rgba($color-4,0.2);
	}
	
	p {
		color:$color-3;
		@include text-shadow(0, darken($color-4, 10%));
		margin-top:em(25);
		margin-left:em(16);
	}
	
	a {
		display:inline;
		height:48px;
		padding:em(10) em(30);
		font-family:$font-stack;
		font-size:em(20);
		font-weight:600;
		color:$color-3;
		text-decoration:none;

		@include text-shadow(0, darken($color-2, 20%));
		background-color:$color-2;
		border-bottom:2px solid darken($color-2, 18%);
		-webkit-transition: background linear 150ms;
	}
	
	a:hover {
		color:$color-3;
		@include text-shadow(0, darken($color-2, 25%));
		background-color:darken($color-2, 10%);
		border-bottom:2px solid darken($color-2, 25%);
	}
}
	

/* ========= END Hero / Carousel ========== */

/* ========= About Section ========== */

.about-section-wrapper {
	background-color: #e4f1d7;
	margin-bottom:50px;
	border-bottom:5px solid $color-6;	
}

section.about {
	padding:30px 0 50px 0;
	min-height:250px;
	
	hr {
		border-color:lighten($color-6,50);
	}
	
	h2 {
		color:darken($color-6,20);
	}
	
	ul {
		margin-left:0px;
		list-style:none;
		
		li {
			background:url(../../img/bullet.gif) no-repeat left top;
			padding-left:40px;
			margin-bottom:12px;
			min-height:27px;
		}
	}
}

/* ========= END About Section ========== */


/* ========= Basix Section J Section ========== */

.work-section-wrapper {
	background-color: $color-3;
}

.work-section {
	padding-top:30px;
}
	

/* ========= END Basix Section J Section ========== */


/* ========= Footer ========== */

/* ========= END Footer ========== */