/* Scss Document */
/* Colors */
/* Grey eg text */
/* Orange eg buttons */
/* Light Grey eg nav */
/* Green eg button */
/* END Colors */
/* Global */
html, html a {
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.004);
  font-size: 100%;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  padding-left: 0px;
  padding-right: 0px;
}

.wrapper {
  width: 100%;
}

.container {
  width: 970px !important;
}

.div-table {
  display: table;
  width: 100%;
}

.div-cell {
  display: table-cell;
  vertical-align: middle;
}

/* Micro ClearFix */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

/* For IE 6/7 only */
.cf {
  *zoom: 1;
}

/* END CF */
/* END Global */
/* Fonts */
h1 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 2.1875em;
  font-weight: 300;
  letter-spacing: -0.01875em;
  color: white;
}

h2 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.75em;
  font-weight: 600;
  color: #333333;
}

h3 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.125em;
  font-weight: 400;
  color: #838383;
}

h4 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.4375em;
  color: #333333;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: #333333;
}

/* END Fonts */
/* Buttons */
a.gv-btn {
  height: 48px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  font-weight: 600;
  color: white;
  padding-top: 10px;
  text-decoration: none;
}

a.gv-btn-quote {
  color: white;
  text-shadow: 0 -1px 0 #c7760b;
  background-color: #f5a843;
  border-bottom: 2px solid #d17b0b;
  -webkit-transition: background linear 150ms;
}

a:hover.gv-btn-quote {
  color: white;
  text-shadow: 0 -1px 0 #af6709;
  background-color: #f29213;
  border-bottom: 2px solid #af6709;
}

/* END Buttons */
/* ========= Header ========== */
header hr {
  border: none;
  border-bottom: 12px solid #dddddd;
  width: 100%;
  margin: 0px;
}
header .gv-logo-nav {
  margin-top: -5px;
}
header img {
  float: left;
}
header nav {
  float: left;
  margin-left: 32px;
  margin-top: 33px;
}
header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header nav ul li {
  display: inline-block;
  margin-right: 15px;
}
header nav ul li a {
  display: block;
  padding: 0.3125em 0.9375em;
  background-color: white;
  -webkit-transition: background linear 350ms;
}
header nav ul li a h3 {
  margin: 0;
  -webkit-transition: color linear 150ms;
}
header nav ul li a:hover {
  display: block;
  box-sizing: border-box;
  background-color: #f5a843;
  text-decoration: none;
}
header nav ul li a:hover h3 {
  color: white;
}
header nav ul li::last-child {
  margin-right: 0;
}
header a.gv-btn {
  margin-top: 12px;
}

.contact-number {
  background-color: #333333;
  height: 2.25em;
  margin-top: -12px;
  padding: 0.5em 0;
  box-sizing: border-box;
  text-align: center;
}
.contact-number h3 {
  display: inline-block;
  color: white;
  font-weight: 600;
  margin: 0;
}
.contact-number .fa {
  color: white;
  font-size: 1.25em;
  margin-right: 5px;
}

/* ========= END Header ========== */
/* ========= Hero / Carousel ========== */
.carousel {
  margin-top: 15px;
  height: 510px;
  overflow: hidden;
}

a.gv-carousel-control {
  background: none;
  font-size: 40px;
  color: #fff;
  text-align: center;
  text-shadow: 0 -1px 0 black, 20%;
}
a.gv-carousel-control i {
  opacity: .50;
  filter: alpha(opacity=50);
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}

a.gv-carousel-control.left, a.gv-carousel-control.right {
  background: none;
}

.hero-block {
  height: 510px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-unit {
  margin-left: auto;
  margin-right: auto;
  height: 370px;
}
.hero-unit h1 {
  display: table;
  width: auto;
  margin-bottom: -0.3125em;
  padding: 0.1875em 0.5em;
  background-color: rgba(0, 0, 0, 0.2);
}
.hero-unit p {
  color: white;
  text-shadow: 0 -1px 0 black;
  margin-top: 1.5625em;
  margin-left: 1em;
}
.hero-unit a {
  display: inline;
  height: 48px;
  margin-left: -0.8125em;
  padding: 0.625em 1.875em;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  font-weight: 600;
  color: white;
  text-decoration: none;
  text-shadow: 0 -1px 0 #c7760b;
  background-color: #f5a843;
  border-bottom: 2px solid #d17b0b;
  -webkit-transition: background linear 150ms;
}
.hero-unit a:hover {
  color: white;
  text-shadow: 0 -1px 0 #af6709;
  background-color: #f29213;
  border-bottom: 2px solid #af6709;
}

/* ========= END Hero / Carousel ========== */
/* ========= About Section ========== */
section.about {
  position: relative;
  margin-top: -130px;
  margin-bottom: 50px;
  padding-top: 30px;
  min-height: 250px;
  background-color: white;
  z-index: 9000;
}
section.about hr {
  border-color: #f5a843;
}
section.about ul {
  margin-left: 0px;
  list-style: none;
}
section.about ul li {
  background: url(../../img/bullet.gif) no-repeat left top;
  padding-left: 40px;
  margin-bottom: 12px;
  min-height: 27px;
}

/* ========= END About Section ========== */
/* ========= Basix Section J Section ========== */
.work-section-wrapper {
  background-color: #f6f6f6;
}

.work-section {
  padding-top: 30px;
}

/* ========= END Basix Section J Section ========== */
/* ========= Footer ========== */
/* ========= END Footer ========== */
